@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Urbanist:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
  font-family: "Bricolage Grotesque", sans-serif;
  /* color: #5A1490; */
}

.container {
  width: 90%;
  margin: auto;
}

.reveal {
  opacity: 0;
}

.reveal.animate__animated {
  opacity: 1;
}

.header {
  padding-bottom: 48px 0;
}
.header input {
  display: none;
}
.header-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
.header-bar div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* gap: 8px; */
}
.header_logo img {
  width: 196px;
}
.header-bar .brand {
  color: #12233d;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-size: 18px;
}
.header-bar .header-center {
  display: none;
  transition: 0.5s;
}
.header-bar .header-center a:hover {
  color: #12233d;
}
.nav {
  background: #fff;
}
.header-bar .btnDemo {
  display: none;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 400;
  font-size: 18px;
  opacity: 1;
  border-radius: 12px;
  border: 1.5px solid;
  color: #111;
  padding: 12px 24px;
}
.header-bar label svg {
  position: absolute;
  height: 48px;
  width: 48px;
  border: 1.5px solid;
  border-radius: 12px;
}
.header-bar label .plates {
  display: flex;
  flex-wrap: wrap;
}
.header-bar label .plate {
  height: 48px;
  width: 48px;
}
.header-bar label .burger {
  filter: url(#gooeyness);
}
.header-bar label .x {
  transform: scale(0);
  transition: transform 400ms;
}
.header-bar label .line {
  fill: none;
  stroke: #111;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
    transform 500ms 200ms;
}
.header-bar label .x .line {
  stroke-width: 3px;
}
.header-bar label .plate4 .x {
  transition: transform 400ms;
}
.header-bar label .plate4 .line {
  transform-origin: 50%;
  transition: transform 400ms 100ms;
}
.header-bar label .active.plate4 .line {
  transition: transform 400ms;
}
.header-bar label .active.plate4 .line1 {
  transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(0.7);
}
.header-bar label .active.plate4 .line2 {
  transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(0.7);
}
.header-bar label .active.plate4 .line3 {
  transform: translateY(0px) rotate(45deg) scale(0.7);
}
.header-bar label .active.plate4 .line4 {
  transform: translateY(0px) rotate(-45deg) scale(0.7);
}
.header-bar label .active.plate4 .line5 {
  transform: translateX(18px) translateY(3px) rotate(45deg) scale(0.7);
}
.header-bar label .active.plate4 .line6 {
  transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(0.7);
}
.header-bar label .active.plate4 .x {
  transition: transform 400ms 100ms;
  transform: scale(1);
}
.header-bar .nav {
  z-index: 5;
  position: absolute;
  background: #fff;
  top: 70px;
  width: 100%;
  height: 100vh;
  right: -1000%;
  transition: right 1s ease;
}
.header-bar .nav li {
  position: relative;
  list-style: none;
}
.header-bar .nav .btnDemo {
  display: inline-block;
}
.header-bar .nav li a {
  display: inline-block;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 13px 0;
  color: #111;
  transition: color 0.3s ease;
}
.header-bar .nav li a:hover {
  color: #12233d;
}
.header-bar .nav li a:active,
.header-bar .nav li a:focus {
  color: #12233d;
}
.header-bar #nav-toggle:checked ~ .nav {
  right: 0%;
}

section {
  margin-top: 69px;
  text-align: center;
}

#home {
  margin-top: 0;
}

.home-content {
  text-align: center;
  /* color: #12233d; */
  font-family: "Bricolage Grotesque", sans-serif;
}
.home-content h1 {
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 24px;
}
.home-content p {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  margin-bottom: 24px;
}
/* .home-content button {
} */
.home-content a {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 480px;
  border-radius: 12px;
  padding: 16px;
  border: none;
  background-color: #5a1490;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  color: #fff;
}
.home-media {
  display: none;
}

.title {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  /* line-height: 100%; */
  /* letter-spacing: 0%; */
  margin-bottom: 24px;
  background: #5a1490;
  padding: 3px 15px;
  color: #fff;
  display: inline-block;
  border-radius: 10px;
}

.card {
  border-radius: 24px;
  /* background: #fff; */
  /* padding: 24px; */
  /* margin-top: 20px; */
}

.about {
  text-align: left;
}
.about .title{
margin-bottom: 32px;
}

.about_card {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.about_card .card {
  padding: 24px;
  border: 1.5px solid #5a1490;
  box-shadow: 0px 5px 0px 0px #5a1490;
}

.about_card p {
  font-weight: 500;
  font-size: 18px;
  padding-top: 20px;
}
.about_card h3 {
  font-weight: 800;
  font-size: 21px;
}
.about_card span {
  font-weight: 700;
}

.features_card {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: 0;
}
.features .title {
  margin-bottom: 24px;
  /* min-height: 210px; */
}
.features_card .features_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.features_card button {
  padding: 0 24px;
  height: auto;
  position: relative;
}
.features_card h3 {
  padding-top: 20px;
}
.features_card span {
  width: inherit;
}
.features_card h3 ::after {
  /* margin: 0; */
  width: 92%;
  position: absolute;
  content: "";
  background: #5a1490;
  left: 4%;
  height: 1.5px;
  bottom: -2px;
}

.benifist_card {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin-top: 24px;
}
.benifist_card .card {
  padding:12px 24px;
  width: 154px;
  /* max-width: 184px; */
  border: 1.5px solid #5a1490;
  margin: 0;
  box-shadow: 0px 5px 0px 0px #5a1490;
}
.benifist_card img {
  height: 100px;
  width: 100px;
}
.benifist_card p {
  font-weight: 700;
  font-size: 14px;
}

.demo-card {
  border-radius: 24px;
  padding: 24px;
  background: #f3f3f3;
}
.demo .title {
  margin-bottom: 24px;
}
.demo-info {
  text-align: start;
  padding-bottom: 12px;
}
.demo-info img {
  padding: 10px;
  border: 1.5px solid #5a1490;
  margin-right: 15px;
  border-radius: 10px;
  width: 42px;
}
.demo-info span {
  color: #5a1490;
}
.demo-info h1 {
  font-weight: 800;
  font-size: 32px;
  padding-bottom: 24px;
}
.demo-info p {
  display: flex;
  align-items: center;
  color: #5a1490;
  font-weight: 400;
  font-size: 18px;
  padding-top: 12px;
}

.demo-info div {
  display: none;
}
.demo .form {
  text-align: start;
}
.demo .form label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  margin-top: 12px;
}
.demo .form input {
  margin-top: 5px;
  width: 100%;
  padding: 12px;
  font-weight: 400;
  font-size: 18px;
  background: #fff;
  border-radius: 12px;
  /* color: #b1b7c1; */
  border: 1.5px solid;
}
input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.demo .form button {
  width: 100%;
  margin-top: 24px;
  border: none;
  border-radius: 15px;
  color: #fff;
  background: #000;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
}
/* 
#customer .title {
  font-size: 35px;
} */
#customer .card:nth-child(n + 4) {
  display: none;
}
/* .swiper-slide{
  height: -webkit-fill-available;
} */
#customer .card {
  /* min-height: 334px; */
  padding: 24px;
  text-align: start;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: self-end;
  border: 1.5px solid #5a1490;
  box-shadow: 0px 5px 0px 0px #5a1490;
}
/* #customer .card img { */
/* width: 13px;
  height: 20px; */
/* } */
#customer .card p {
  /* margin-top: 24px; */
  font-weight: 400;
  font-size: 18px;
}
#customer .card_row {
  margin-top: 24px;
  display: flex;
  align-items: center;
}
#customer .card_row span {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 11px;
}
#customer .card_row span img {
  width: 68px;
  height: auto;
}
#customer .card_row h2 {
  font-weight: 600;
  font-size: 16px;
}
#customer .card_row p {
  margin-top: 0;
  font-weight: 500;
  font-size: 14px;
  color: #6446bd;
}

#customer .swiper_row {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 70px;
  gap: 20px;
}
#customer .swiper-button-next {
  position: relative;
}
#customer .swiper-button-next:after {
  content: url("/Frame 126 (1).png");
}
#customer .swiper-button-prev {
  position: relative;
}
#customer .swiper-button-prev:after {
  content: url("/Frame 125 (1).png");
}
#customer .swiper-pagination {
  position: relative;
  width: 135px;
}
#customer .swiper-pagination-bullet {
  background: #5a149080;
}
#customer .swiper-pagination-bullet-active {
  background: #5a1490;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts {
  position: relative;
}
.contacts .card {
  background: #f3f3f3;
  border-radius: 24px;
  padding: 24px;
}
.contacts .card h1 {
  font-weight: 800;
  font-size: 24px;
}
.contacts .card h2 {
  padding: 24px 0;
  font-weight: 700;
  font-size: 21px;
}
.contacts_info {
  font-weight: 700;
  font-size: 18px;
  color: #5a1490;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.contacts_info div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts_info img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
.contacts_info a {
  font-weight: 500;
  color: #5a1490;
  margin-left: 5px;
}
.contacts_icon {
  padding-top: 24px;
}
.contacts_icon span {
  padding: 0 5px;
}
.contacts_icon img {
  width: 36px;
  height: 36px;
}
.contacts .image {
  display: none;
}

.footer {
  margin-top: 80px;
  color: #fff;
  text-align: center;
}
.footer_block {
  background: #5a1490;
  padding: 48px;
  border-top-right-radius: 36px;
  border-top-left-radius: 36px;
}
.footer-icon .icons img {
  background: white;
  padding: 8px;
  margin-bottom: 24px;
}
.footer-icon .icons a {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: white;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 6px;
}
.footer_info {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 36px;
}
.footer_info h1 {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 12px;
  border-bottom: 1.5px solid #fff;
}
.footer_info span {
  font-weight: 700;
}
.footer_info p {
  padding-top: 12px;
  font-weight: 400;
  font-size: 16px;
}
.footer_info a {
  color: #fff;
}
.footer_row {
  text-align: center;
}
.footer_row h1 {
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  border: none;
}
.footer_row p {
  font-weight: 400;
  font-size: 16px;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}
.modal {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 550px;
  position: relative;
  animation: 0.4s ease;
}
.modal .header_logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  color: #12233d;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 18px;
}
.modal h2 {
  /* text-align: center; */
  padding: 20px 0;
}
.modal h1 {
  font-size: 22px;
}
.modal .form {
  margin: 0;
  width: auto;
  /* height: auto; */
}

.modal .card {
  padding: 0 10px;
}
.close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}
.alert {
  z-index: 11111;
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  color: #fff;
}
.bottom-alert {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 600;
  color: #fff;
  z-index: 2000;
  animation: fadeInUp 0.4s ease;
}
.bottom-alert.success {
  background: #4caf50;
}
.bottom-alert.error {
  background: #f44336;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* @keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
} */
@media (min-width: 768px) {
  .benifist_card .card {
    width: 184px;
    padding: 24px;
  }
}
@media (min-width: 1124px) {
  section {
    margin-top: 96px;
  }
  .container {
    max-width: 1240px;
  }
  .title {
    text-align: start;
    font-size: 36px;
    margin-bottom: 48px;
  }
  .header {
    padding: 0;
  }
  .header .header_logo {
    gap: 15px;
  }
  .header .burger {
    display: none;
  }
  .header img {
    width: 257px;
    height: 43px;
  }

  .header .header-center {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    gap: 15px;
  }
  .header .header-center a {
    color: #000;
  }
  .header .btnDemo {
    font-size: 18px;
    display: block;
  }
  .header-bar div:last-of-type {
    display: none;
  }
  #home {
    margin-top: 96px;
  }
  .home {
    display: flex;
  }
  .home-content {
    max-width: 630px;
    padding: 24px 0;
    text-align: start;
  }
  .home-content h1 {
    font-size: 52px;
    margin-bottom: 24px;
  }
  .home-content p {
    font-size: 21px;
    margin-bottom: 24px;
    width: 456px;
  }
  .home-content a {
    font-size: 21px;
    text-align: center;
    width: 300px;
    margin: 0;
  }
  .home-media {
    position: relative;
    padding: 17px 0;
    display: block;
  }
  .home-media .home_img {
    position: absolute;
    top: -30%;
    left: -10px;
  }
  .home-media .home_img img {
    width: 727px;
    height: 768px;
  }

  .about_card {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .about .card {
    max-width: 48.9%;
    align-items: center;
    text-align: left;
    margin: 0;
  }
  .about .card:last-of-type {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .about .title{
    margin-bottom: 48px;
    }
  .about h3 {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .about .card p {
    width: 100%;
    font-size: 21px;
    padding: 0;
  }
  .about .card span {
    bottom: 15px;
    /* right: 15px; */
  }
  .features {
    text-align: left;
  }
  .features .title {
    margin-bottom: 48px;
  }
  .features_card {
    font-size: 24px;
  }
  .features_card h3 :after {
    width: 95%;
    left: 2%;
  }
  /* .features_card p {
    font-size: 21px;
  } */
  .benifist {
    text-align: left;
  }
  .benifist_card {
    margin: 0;
    text-align: center;
    justify-content: space-between;
  }
  .benifist_card .card {
    width: 283px;
  }

  .benifist_card img {
    width: 180px;
    height: 180px;
  }
  .benifist_card p {
    font-size: 21px;
  }
  .demo {
    text-align: start;
  }
  .demo .title {
    margin-bottom: 48px;
  }
  .demo-card {
    display: flex;
    justify-content: space-between;
  }

  .demo-info {
    text-align: start;
    width: 50%;
  }
  .demo-info img {
    width: 48px;
  }
  .demo-info h1 {
    line-height: 0.1, 1;
    font-size: 48px;
  }
  .demo-info p {
    padding-top: 10px;
    font-size: 21px;
  }
  /* .demo-info div { */
  /* margin-top: 40px; */
  /* display: flex; */
  /* gap: 20px; */
  /* }/ */
  .demo .form {
    margin: 0;
    min-width: 50%;
  }
  .demo .form-row label {
    font-size: 18px;
  }
  .demo .form-row input::-moz-placeholder {
    font-size: 18px;
  }
  .demo .form-row input::placeholder {
    font-size: 20px;
  }
  .demo .form .one {
    display: flex;
    gap: 20px;
  }
  .demo .form .one label {
    margin: 0;
  }
  .demo .form button {
    font-size: 21px;
    margin-top: 40px;
  }
  #customer .card {
    /* min-height: 434px; */
    margin: 0;
  }

  #customer {
    text-align: start;
  }
  #customer .card img {
    width: 162px;
    height: 34px;
  }
  #customer .card p {
    font-size: 21px;
  }
  #customer .card_row span {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  #customer .card_row span img {
    width: 90px;
    height: auto;
    margin-left: -6px;
  }
  #customer .card_row h2 {
    font-size: 19px;
  }
  #customer .card_row p {
    font-size: 16px;
  }
  #customer .swiper-slide:nth-child(n + 4) {
    display: block;
  }
  #customer .swiper_row {
    margin-top: 90px;
  }
  .contacts {
    text-align: start;
  }
  .contacts .card {
    padding: 24px;
    position: relative;
  }
  .contacts .card h1 {
    font-size: 36px;
  }
  .contacts .card h2 {
    padding: 15px 0;
    font-size: 24px;
  }
  .contacts_info {
    font-size: 20px;
  }
  .contacts_info img {
    width: 24px;
    height: 24px;
    margin-right: 15px;
  }
  .contacts_info div {
    justify-content: start;
  }
  .contacts_icon {
    position: absolute;
    top: 0;
    right: 20px;
  }
  .contacts_icon span {
    padding: 0 5px;
  }
  .contacts_icon img {
    width: 36px;
    height: 36px;
  }
  .contacts .image {
    display: block;
    position: absolute;
    left: 950px;
    bottom: 0;
  }

  .footer {
    margin-top: 96px;
  }

  .footer-icon {
    display: flex;
    justify-content: space-between;
  }

  .footer_info {
    margin-top: 48px;
    align-items: end;
    justify-content: space-between;
  }
  .footer_info h1 {
    font-size: 18px;
  }

  .footer_info p {
    font-size: 18px;
  }

  .footer_info div {
    text-align: start;
  }
  .footer_info div:last-of-type {
    text-align: right;
  }

  .footer_row h1 {
    font-size: 18px;
  }
  .footer_row p {
    font-size: 18px;
  }
}
